html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Scroll wheel customization */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 12px;
}
::-webkit-scrollbar:horizontal {
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.loader {
  color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #c4c4c4;
  transition: 0.4s ease-in-out;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 6rem;
  text-align: center;
  width: 100%;
  margin: 40% 0 auto;
  color: #fff;
}

.title-left {
  font-size: 6rem;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}

.title-right {
  font-size: 6rem;
  text-align: right;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}

.exhibits-section {
  color: white;
  background-image: url("https://apod.nasa.gov/apod/image/2112/C2021A1_211221.jpg");
  background-size: contain;
  text-align: left;
}
/* Exhibition introduction */
.exhibits-section-introduction {
  padding: 1em;
  height: 100vh;
  font-size: 2em;
  text-align: center;
}
.exhibit-introduction-button {
  height: 100px;
  width: 100px;
  position: absolute;
  margin: -25px 0 0 -50px;
  left: 50%;
  top: 75%;
  border-radius: 50px;
  background-color: white;

  font-size: 5.25rem;
  color: black;
}
.exhibit-introduction-button:hover {
  cursor: pointer;
  opacity: 70%;
}

/* Exhibition gallery */
.exhibition-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  max-width: 1920px;
  margin: 0 auto;
  padding: 1em;
}

.exhibition-grid-item-container {
  margin-left: auto;
  margin-right: auto;
}

.exhibition-grid-item {
  position: relative;
  width: 100%;
}

.exhibition-grid-item-image {
  display: block;
  max-inline-size: 100%;
  height: 100%;
}

.exhibition-grid-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.exhibition-grid-item:hover .exhibition-grid-item-overlay {
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.scrollArea {
  z-index: 0;
}

.fakeCanvas {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: absolute;
}

.fakeCanvasActive {
  display: none;
}

.exhibition-title-text {
  position: absolute;
  bottom: 0%;
  left: 20%;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  font-size: 1rem;
  z-index: 2;
}
.exhibition-title-text p {
  font-size: 1.5rem;
}

.canvas-h80 {
  height: 80% !important;
  background-image: url("./space_exhibition_assets/space_background_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.buttonRight {
  position: absolute;
  right: 0%;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
}

.buttonLeft {
  position: absolute;
  left: 0%;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 0%;
}

.tutorial-button {
  font-size: 3rem;
  padding: 5px 25px;
  position: absolute;
  right: 3%;
  top: 5%;
  border-radius: 50px;
  background-color: white;
  transition: transform 0.3s;
}
.tutorial-button-link {
  text-decoration: none;
  color: black;
}
.tutorial-button:hover,
.tutorial-button-link:hover {
  cursor: pointer;
  color: black;
  background-color: light-grey;
  cursor: hover;
  transform: scale(1.5);
  transition-timing-function: ease-in-out;
}

.modal-title {
  text-align: center;
}
.modal-image {
  background-image: url("https://via.placeholder.com/450");
  height: 450px;
  width: 450px;
  margin: 15px auto;
}

.content {
  padding-top: 10px;
  transform: translate3d(100%, -20%, 0);
  text-align: right;
  background: rgba(0, 0, 0, 0.3);
}
.content::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 85px;
  transform: translate3d(-34%, 0, 0);
  height: 1px;
  background: white;
}

.interactable-item a:hover {
  opacity: 50%;
  cursor: pointer;
}
.no-svg-click {
  cursor: not-allowed;
}
